.buttonContainer
{
display: grid; 
grid-template-columns: 60px 60px 60px 60px;
grid-template-rows: 60px 60px 60px 60px;
}

.calculator
{
background: black;
border-radius: 80px;
height: 300px;
padding-top: 50px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 75px;
width: 250px; 
}

.clear 
{
background: rgb(230, 188, 4);
border-color: black;
border-radius: 20px;
border-style: outset;
font-size: 20px;
}

.clear:hover
{
opacity: .85;
}

.equals 
{
background: rgb(58, 9, 194);
border: none;
border-radius: 20px;
font-size: 30px;
}

.equals:hover
{
opacity: .85;
}

html 
{
background: rgb(199, 199, 199);
}

.numPad
{
background: rgb(110, 174, 190);
border-color: black;
border-radius: 20px;
border-style: outset;
font-size: 20px;
}

.numPad:hover
{
background: rgb(95, 151, 165);
border-color: black;
border-radius: 20px;
border-style: outset;
font-size: 20px;
}

.operator
{
background: rgb(124, 122, 119);
border: none;
border-color: black;
border-radius: 20px;
border-style: outset;
font-size: 20px;
}

.operator:hover
{
opacity: .85;
}

.screen
{
background: rgba(177, 175, 175, 0.452);
border-radius: 5%;
color: rgba(5, 5, 4, 0.856);
font-size: 50px;
padding-bottom: 10px;
height: 50px;
text-align: center;
width: 240px;
}

.spacer
{
background: black;
color: yellow;
font-size: 10px;
font-family: Apple Chancery, cursive;
height: 25px;
text-align: left;
width: 250px;
}